* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 232, 241);
}

/*CABEÇALHO*/
header {
    overflow: auto;
    background-color: rgb(158, 194, 225);
    padding: 20px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

header img {
    float: left;
    width: 60px;
  margin-top: 5px;
  margin-left: 5px;
}

/*PERFIL*/
.foto {
    overflow: auto;
    padding-left: 20px;
    padding-top: 10px;
}

.foto h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color:#333;

}

.foto h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #333;
}

/*INFORMAÇÕES*/
.info {
    overflow:auto;
    padding-left: 20px;
    padding-bottom: 20px;

}

.info img {
    float: left;
    width: 165px;
    margin: 5px;
    border-radius: 15px;

}

.info h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #222;
    margin-left: 180px;
    margin-top: 10px;
    background-color:  rgb(158, 194, 225);

}

.info p {
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: justify;
    padding-right: 30px;
    padding-left: 180px;
}

.info ul {
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: justify;
    padding-right: 30px;
    padding-left: 200px;
    list-style-type:square;
   
}

.info ol {
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: justify;
    padding-right: 30px;
    padding-left: 50px;
    list-style: circle;
}

/*CONTATOS*/
.contatos {
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contatos h3 {
    font-size: 16px;
}

.contatos p {
    font-size: 14px;
}

.email {
    margin-bottom: 10px;
}

/*REDES*/
footer {
    position: sticky;
    background-color: rgb(158, 194, 225);
    bottom: 0;
    left: 0;
    width: 100%;
}

.redes {
    display: flex;
    flex-direction: inherit;
    padding: 20px;
}

.botao-imagem {
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none;
}

.botao-imagem img {
    width: 80px; 
    height: auto;
    transition: transform 0.3s ease;
}

.botao-imagem img:hover {
    transform: scale(1.1); 
}

.linkedin img {
    width: 60px;
   margin-top: 10px;
}
